{% load static %}
{% block content %}


        <div class="modal-header">
          <h5 class="modal-title">Biblioteca de exercicios</h5>
        </div>
        <div class="modal-body">
          
          <ul class="list-group">
            {% for ex in Exercicios %}
            <li class="list-group-item rounded-0">
                <div class="row">
                    <div class="col-md-1"><input class="custom-control-input" id="check_{{ex.id}}" type="checkbox" checked="{{ex.selected}}"></div>
                    <div class="col-md-3"><label class="cursor-pointer font-italic d-block custom-control-label" id="label_{{ex.id}}" for="customCheck1">{{ex.titulo}}</label></div>
                    <div class="col-md-3"><input type="hidden" class="hiddenExercicioID" value="{{ex.id}}"></div>
                </div>
            </li>
           
            {% endfor %}
        </ul>
             
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>

{% endblock content %}
