{% load static %}
{% block content %}


        <div class="modal-header">
          <h5 class="modal-title">Biblioteca de exercicios</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <ul class="list-group">
            {% for ex in Exercicios %}
            <li class="list-group-item rounded-0">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" id="customCheck1" type="checkbox" checked="{{ex.selected}}">
                    <label class="cursor-pointer font-italic d-block custom-control-label" for="customCheck1">{{ex.titulo}}</label>
                </div>
            </li>
           
            {% endfor %}
        </ul>
             
       
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">guardar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>

{% endblock content %}
