
{% extends "index.html" %}
{% block content %}
   <div class="container-fluid px-2 px-md-4">
     <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
         <p style="color:black;font-size:30px;font-family: Geneva, Verdana, sans-serif;">{{plano.titulo}}
			<div style="position:relative;top:0px">Treinador: {{plano.refPersonalTrainer.first_name}} {{plano.refPersonalTrainer.last_name}}</div>
         </p>
         <p>
			<div style="border:1pt solid #808080;border-radius: 10px;padding:10px;bottom:15px">
				<b style="color:black;font-size:20px">Descrição</b>
				<p>{{plano.descricao}}</p>
                
				<b style="color:black;font-size:20px">Requisitos</b>
				<p>{{plano.requisitos}}</p>
            </div>         
         </p>
         <p></p>
         <p>
            {%if user.groups.all.0.name == "Cliente" %}
			 <div style="position:absolute;bottom:15px;right:15px">
				 <a href="{% url 'comprasSubscricao' idPlano=plano.id %}"><button style="background-color:#adadad;"type="button" class="btn btn-primary active">Subscreve por {{plano.preco}}€/mês</button></a>
             
			 </div>
          {%endif%}
         </p>
      </div>
    </div>
  {% endblock %}
